<p id="notice"><%= notice %></p>
<div class="container">

<h1>All Articles</h1>

  <div class="row">
    <% @articles.each do |article| %>
      <%= link_to article do %>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= cl_image_tag(article_image_path(article)) %>


          <div class="card-category text-center">
            <h2><%= article.title %></h2>
            <h3><%= article.duration %></h3>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>



