<p id="notice"><%= notice %></p>



<div class="container">
  <h1>Articles</h1>
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-xs-12 col-sm-6 col-md-4">

      <div class="card-wrapper">
      <div class="card" style="background-image: url('<%= cl_image_path(article_image_path(article)) %>');">
        <div class="card-description">
          <h2><%= article.title %></h2>
        </div>
        <a class="card-link" href="<%= article_path(article) %>"></a>
      </div>
        <div class="card-bio">
          <img class="card-user avatar" src="<%= cl_image_path(user_image_path(article.user)) %>">
          <div class="user-bio">
            <h6><%= "#{article.user.first_name} #{article.user.last_name}" %></h6>
          </div>

        </div>
      </div>




    </div>


    <% end %>
  </div>
</div>
