<%= render 'shared/banner'%>


<p id="notice"><%= notice %></p>

<div class="container">
  <h1   id="popover">Articles</h1>

  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-xs-12 col-sm-6 col-md-4">

      <div class="card-wrapper">
        <div class="card" style="background-image: url('<%= cl_image_path(article_image_path(article)) %>');">
          <div class="card-description">
            <h2><%= article.title %></h2>
          </div>
          <a class="card-link" href="<%= article_path(article) %>"></a>
        </div>
        <div class="card-user">
          <a href="#" data-toggle="popover" title="<%= article.user.first_name %>" data-content="<%= article.user.email %>" data-trigger="hover">

            <img src=" <%= cl_image_path(avatar_image_path(article.user)) %>">
          </a>
        </div>

        <div class="user-bio" >
          <h6><%= "#{article.user.first_name} #{article.user.last_name}" %></h6>
        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- Shows "New Article" button to all users  -->
<% if policy(Article).new? %>
<%= link_to "New Article", new_article_path %>
<% end %>

<% content_for :after_js do %>

<script>$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ trigger: "hover" });
});</script>
<% end %>
