<% content_for(:title_tag) do %>
<%= @article.title %>
<% end %>

<!-- Share Bar on the Side -->

<!-- Left side share Bar with like and recommend button -->
<ul id="share">


  <!-- Like/Unlike button logic -->

  <!-- Has the user liked this article yet? -->
  <li>
    <!-- If false, it shows a like button that user can click -->
    <%= link_to '', unlike_article_readings_path(@article), remote: true, method: :post, class: "fa fa-heart #{'hidden' unless @reading.like }" %>

    <!-- If true, it shows a unlike button (uncolored, white) that user can click -->
    <%= link_to '', like_article_readings_path(@article), remote: true, method: :post, class: "fa fa-heart-o #{'hidden' if @reading.like }" %>
  </li>

  <li>
    <p id="like-count"> <%=  @article.readings.where(like: true).length %></p>
  </li>


  <!-- Recommend/unrecommend button logic -->
  <li>

    <!-- Has the user recommended this article yet? -->
    <div class="recommended">
      <% if @reading.recommended %>

      <!-- If false, it shows a recommend button that user can click (pops up a modal to input description with that recommendation) -->
      <%= link_to '', unrecommend_article_readings_path(@article), remote: true, method: :post, class: "fa fa-bookmark" %>

      <% else %>

      <!-- If true, it shows a unrecommend button (uncolored, white) that user can click -->
      <%= link_to '', recommend_article_readings_path(@article), remote: true, method: :post, class: "fa fa-bookmark-o" %>

      <% end %>
    </div>
  </li>

<!-- Facebook Share Button
 -->  <li id="social-media-button-padding">
   <%= social_share_button_tag(@article.title, :allow_sites => %w(facebook)) %>

  </li>
<!--   Twitter Share Button -->
  <li d="social-media-button-padding">
    <%= social_share_button_tag(@article.title, :allow_sites => %w(twitter)) %>
  </li>

</ul>


  <!-- Author information -->
  <div class="row padded" >
    <!-- User avatar picture -->
    <div class="col-sm-1 col-sm-offset-3">
      <%= cl_image_tag(user_image_path_large(@article.user), class: "avatar-large") || 'Image' %>
    </div>
    <!-- User first and last name -->
    <div class="col-sm-5">

      <ul class="list-inline">
        <li>
          <h5><%= @article.user.first_name || 'First Name' %> <%= @article.user.last_name || 'Last Name' %></h5>
        </li>

        <!-- Checks if articles belongs to current user:
        1. If true, button shows a link to edit profile
        2. If false, rhen checks if user follows the author:
          2.1 If false, buttons shows a link to follow the author
          2.2 If true, buttons shows a link to unfollow the author -->
          <% if current_user.present? %>
          <li>
            <% if @article.user == current_user %>
            <%= link_to 'Edit Profile', edit_user_registration_path, method: :get, class: "btn btn-follow" %>
            <% else %>
            <%= link_to 'Following', unfollow_user_followings_path(@article.user), remote: true, method: :delete, class: "btn btn-unfollow btn-block #{'hidden' unless current_user.follower_followings.find_by_author_id(@article.user.id)}" %>
            <%= link_to 'Follow', user_followings_path(@article.user), remote: true, method: :post, class: "btn btn-follow btn-block #{'hidden' if current_user.follower_followings.find_by_author_id(@article.user.id)}" %>
            <% end %>
          </li>
          <% end %>

        </ul>
        <p><%= @article.user.tagline || 'Tagline' %></p>
        <p><%= @article.created_at.strftime("%e %B %Y") %>
        <% if @article.category? %>
            / Category: <%= @article.category %></p>
        <% end %>
      </div>
    </div>

        <!-- Follow/Unfollow button logic -->

    <!-- Title and Tagline -->
    <div class="row" id="title">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h3><strong> <%= @article.title || 'Title' %></strong></h3>
      </div>
    </div>

    <!-- cloudinary audio player -->

    <% if @article.audio? %>
    <div class="row padded">
      <div class="col-sm-6 col-sm-offset-3">

        <%= cl_image_tag(@article.photo, width: "100%") %>
      </div>
    </div>
    <div class="row padded-xs">
      <div class="col-sm-6 col-sm-offset-3">

        <%= cl_image_tag("#{@article.audio_public_id}.png", :height=>50, :width=>"100%", :flags=>"waveform", :resource_type=>"video", color: "#0FA3B1", background: "none")  %>
      </div>
    </div>
    <div class="row padded-xs">
      <div class="col-sm-6 col-sm-offset-3">

        <%= cl_video_tag(@article.audio_public_id, controls: true, "duration"=>true, height:100, width:"100%")%>
      </div>
    </div>
    <% end %>



    <!-- Description -->
    <div class="row padded" id="description">
       <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h4><%= @article.description || 'Description' %></h4>
      </div>
    </div>






  <!-- Comment-Form -->
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div id="comment-counter">
    <h5>
      <%= pluralize @article.comments.size, "Comment" %>
    </h5>
  </div>
</div>
<% if user_signed_in? %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <% @article.comments.blank? %>
        <%= render 'shared/comment_form', article: @article, comment: @comment %>
    </div>
  </div>
<% end %>

  <!-- Comments -->
  <div class="row padded-sm" id="comments">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% if @article.comments.any? %>
        <%= render @article.comments, article: @article %>
      <% end %>
    </div>
  </div>


  <div class="row padded">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <%= link_to articles_path do %>
        <i class="fa fa-backward" aria-hidden="true"></i>
      <% end %>
      &nbsp;

      <!-- User only sees an edit button if the article is theirs -->
      <% if policy(@article).edit? %>
      <%= link_to edit_article_path(@article) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <% end %>
      &nbsp;

      <!-- User only sees a destroy button if the article is theirs -->
      <% if policy(@article).destroy? %>
      <%= link_to article_path(@article), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
      <% end %>
    </div>
  </div>



<!-- JS script used on follow/like/recommended buttons to toggle without reloading the page -->
<% content_for :after_js do %>
<script>
  $(document).ready(function() {
    // Toggle JS for follow/unfollow button
    $('.btn-unfollow').on('click', function() {
      $('.btn-follow').removeClass('hidden');
      $('.btn-unfollow').addClass('hidden');
    });
    $('.btn-follow').on('click', function() {
      $('.btn-unfollow').removeClass('hidden');
      $('.btn-follow').addClass('hidden');
    });
    // Toggle JS for like/unlike button:
    $('.fa-heart-o').on('click', function() {
      $('.fa-heart').removeClass('hidden');
      $('.fa-heart-o').addClass('hidden');
      // Increments 1 if current user likes
      var n = parseInt($('#like-count').text()) + 1;
      $('#like-count').text(n.toString());
    });
    $('.fa-heart').on('click', function() {
      $('.fa-heart-o').removeClass('hidden');
      $('.fa-heart').addClass('hidden');
      // Decreases 1 if current user unlikes
      var n = parseInt($('#like-count').text()) - 1;
      $('#like-count').text(n.toString());
    });
  });
</script>
<% end %>


