<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @article.date.strftime("%d %B %Y") %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @article.duration %> min
</p>

<p>
  <strong>Audio file:</strong>
  <%= @article.audio_file %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Contributer:</strong>
  <%= @article.user.first_name %> <%= @article.user.last_name %>
</p>


<%= link_to 'Like', like_article_readings_path(@article), :method=> :post  %> |


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
