<!-- Share Bar on the Side -->

<ul id="share">
  <li>
    <% if @reading.like %>
      <%= link_to '', unlike_article_readings_path(@article), :method=> :post, class:'fa fa-heart' %>
  </li>
    <% else %>
  <li>
    <%= link_to '', like_article_readings_path(@article), :method=> :post, class:'fa fa-heart-o' %>
  </li>
    <% end %>
  <li>
    <p> <%=  @article.readings.where(like: true).length %></p>
  </li>
    <% if @reading.recommended %>
  <li>
      <%= link_to '', unrecommend_article_readings_path(@article), :method=> :post, class:'fa fa-bookmark-o' %>
  </li>
    <% else %>
  <li>
      <%= link_to '', recommend_article_readings_path(@article), :method=> :post, class:'fa fa-bookmark'  %>
  </li>
    <% end %>
</ul>


<div class="container">
<p id="notice"><%= notice %></p>

<!-- Author information -->
  <div id="author">
<!-- User avatar picture -->
    <div class="col-sm-3 col-offset-sm-4">
      <%= cl_image_tag(user_image_path(@article.user), class: "avatar-large") || 'Image' %>
    </div>
<!-- User first and last name -->
    <div class="col-sm-9">

      <ul class="list-inline">
        <li>
          <h5><%= @article.user.first_name || 'First Name' %> <%= @article.user.last_name || 'Last Name' %></h5>
        </li>
        <li>
          <%= link_to 'Follow', article_followings_path(@article), class: "btn btn-sm btn-success" %>
          </li>
      </ul>
      <p><%= @article.user.tagline || 'Tagline' %></p>
      <p><%= @article.created_at.strftime("%d-%m-%Y")|| 'Date' %> / <%= @article.get_video_duration || 'Duration' %> min / Category: <%= @article.category %></p>
    </div>

  </div>

<!-- Title and Tagline -->
  <div class="row" id="title">
  <div class="col-xs-12 text-center">
        <h3><strong> <%= @article.title || 'Title' %></strong></h3>
  </div>
  </div>

  <!-- Youtube -->
  <div class="row" id="player">
        <iframe id="ytplayer" type="text/html" width="640" height="360"
        src="https://www.youtube.com/embed/<%= @article.video_id %>?autoplay=1"
        frameborder="0"></iframe>
  </div>

<!-- Description -->
 <div class="row" id="title">
   <div class="col-xs-12 text-center">
      <h4><%= @article.description || 'Description' %></h4>
    </div>
  </div>

  <!-- Comments -->
  <div class="row" id="comments" class="text-center">
    <div class="col-xs-6 col-offset-xs-3">
    <% if @article.comments.any? %>
        <div class="comment-counter">
          <h4><%= pluralize @article.comments.size, "Comments" %> </h4>
        </div>
      <%= render @article.comments %>
      <% end %>
    </div>
  </div>

  <!-- Comment-Form -->
  <div class="row" class="text-center">
    <div class="col-xs-6 col-offset-xs-3">
     <% @article.comments.blank? %>
      <%= render 'shared/comment_form', article: @article, comment: @comment %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>


