<ul id="share">
  <li>
    <% if @reading.like %>
      <%= link_to '', unlike_article_readings_path(@article), :method=> :post, class:'fa fa-heart' %></li>
    <% else %>
      <%= link_to '', like_article_readings_path(@article), :method=> :post, class:'fa fa-heart-o' %>
    <% end %>
    <p> <%=  @article.readings.where(like: true).length %></p>
  </li>
  <li>
  </li>
  <li>
    <% if @reading.recommended %>
      <%= link_to '', unrecommend_article_readings_path(@article), :method=> :post, class:'fa fa-bookmark-o' %>
    <% else %>
      <%= link_to '', recommend_article_readings_path(@article), :method=> :post, class:'fa fa-bookmark'  %>
    <% end %>
  </li>
  <li>
  </li>
</ul>

<p id="notice"><%= notice %></p>

<!-- Card at top with author information -->
<div class="container text-center" id="author">
  <div class="row">

    <!-- User avatar picture -->
    <div class="col-xs-1 text-center">
      <%= cl_image_tag(user_image_path(@article.user), class: "avatar-large") %>
    </div>

    <!-- User first and last name -->
    <div class="col-xs-11">
      <ul class="list-inline">
        <li><h5><%= @article.user.first_name || 'First Name' %> <%= @article.user.last_name || 'Last Name' %></h5></li>
        <li>  <%= link_to 'Follow', article_followings_path(@article), class: "btn btn-sm btn-success" %></li>
      </ul>
      <p><%= @article.user.tagline || 'Tagline' %></p>
    </div>

  </div>
</div>


  <div class="row text-center" id="title">
    <h2><strong> <%= @article.title || 'Title' %></strong></h2>
    <h4><%= @article.created_at.strftime("%d-%m-%Y")|| 'Date' %> - <%= @article.get_video_duration || 'Duration' %></h4>
  </div>

  <div class="row">

  <div id="embedded-player player-center">
    <div class="col-md-8 col-md-offset-2">
    <br>
      <iframe id="ytplayer" type="text/html" width="768" height="432"
      src="https://www.youtube.com/embed/<%= @article.video_id %>?autoplay=1"
      frameborder="0"></iframe>
      <br>
      <h4><%= @article.description || 'Description' %></h4>
    </div>
  </div>
  </div>

  <div class="row" id="comments">
    <div class="container"></div>

  </div>

<% if @reading.like %>
You have liked this page
<% else %>
not liked
<% end %>

<%= link_to 'Like', like_article_readings_path(@article), :method=> :post  %> |
<%= link_to 'Unlike', unlike_article_readings_path(@article), :method=> :post  %> |

<% if @reading.recommended  %>
You have recommended this page
<% else %>
not recommended
<% end %>

<%= link_to 'recommended', recommend_article_readings_path(@article), :method=> :post  %> |
<%= link_to 'Not recommended', unrecommend_article_readings_path(@article), :method=> :post  %> |

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<% content_for(:after_js) do %>
<script>
  $(".owl-carousel").owlCarousel();
</script>
<% end %>

