<h3>Your reading list</h3>
<br>
<br>
  <% current_user.readings.each do |reading| %>

    <% if reading.article.user != current_user %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-wrapper">
        <div class="card" style="background-image: url('<%= cl_image_path(article_image_path(reading.article)) %>');">
          <div class="card-description">
            <h2><%= reading.article.title %></h2>
          </div>
          <a class="card-link" href="<%= article_path(reading.article) %>"></a>
        </div>
        <div class="card-user">
          <a href="#" data-toggle="popover" title="<%= reading.article.user.first_name %> <%= reading.article.user.last_name %>" data-content="<%= reading.article.user.email %>" data-trigger="hover">

            <img src=" <%= cl_image_path(avatar_image_path(reading.article.user)) %>">
          </a>
        </div>
        <div class="user-bio" >
          <h6><%= "#{reading.article.user.first_name} #{reading.article.user.last_name}" %></h6>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
  <% end %>


<% content_for :after_js do %>
<script>$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ trigger: "hover" });
});</script>
<% end %>


