  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
      <div class="white-wrapper">
      <h3 class="text-center">Authors <%= @user.first_name %> Follows</h3>
      <br><br>
        <table class="table" id="followings">
        <tr class="hidden"></tr>
          <% @user.follower_followings.each do |following| %>
              <tr id="followings-table-<%= following.author.id %>">
              <td class="col-sm-2">
              <% if current_user.present? && following.author == current_user %>
                <%= link_to dashboard_path do %>
                  <%= cl_image_tag(user_image_path_large(following.author), class:"avatar") %>
                <% end %>
              <% else %>
                <a href="<%= user_path(following.author) %>" data-toggle="popover" data-content="<b><nobr><i class='fa fa-envelope-o'></i> <%= following.author.email %></nobr></b> " data-trigger="hover">

                  <img src="<%= cl_image_path(user_image_path_large(following.author)) %>" class="avatar">
                </a>
              <% end %>

              </td>
                <td class="col-sm-8">
                  <h6><%= "#{following.author.first_name} #{following.author.last_name}" %></h6>
                </td>
                <td class="col-sm-2">
                  <% if current_user.present? %>
                    <%= link_to 'Following', unfollow_user_followings_path(following.author), remote: true, method: :delete, class: "btn btn-unfollow btn-block #{'hidden' unless current_user.follower_followings.find_by_follower_id(following.follower.id)}", data:{target: "#follow#{following.author.id}"}, id:"following#{following.author.id}" %>
                    <%= link_to 'Follow', user_followings_path(following.follower), remote: true, method: :post, class: "btn btn-follow btn-block #{'hidden' if current_user.follower_followings.find_by_follower_id(following.follower.id)}", id:"follow#{following.author.id}", data:{target: "#following#{following.author.id}"}%>
                  <% end %>
                </td>

                </tr>
          <% end %>
        </table>
      </div>
      </div>

      <div class="col-xs-12 col-sm-6">
      <div class="white-wrapper">
      <h3 class="text-center"><%= @user.first_name %>'s Followers</h3>
      <br><br>

        <table class="table" id="followers">
          <% @user.author_followings.each do |following| %>
            <% if @user != following.follower %>
              <tr id="followers-table-<%=following.follower.id %>">

              <td class="col-sm-2">
              <% if current_user.present? && following.follower == current_user %>
                <%= link_to dashboard_path do %>
                  <%= cl_image_tag(user_image_path_large(following.follower), class:"avatar") %>
                <% end %>
              <% else %>
                <a href="<%= user_path(following.follower)%>" data-toggle="popover" data-content="<b><nobr><i class='fa fa-envelope-o'></i> <%= following.follower.email %>" data-trigger="hover">

                  <img src=" <%= cl_image_path(user_image_path_large(following.follower)) %>" class="avatar">
                  </a>
                <% end %>
                </td>
                <td class="col-sm-8">
                  <h6><%= "#{following.follower.first_name} #{following.follower.last_name}" %></h6>
                </td>
                <td class="col-sm-2">
                  <% if current_user.present? %>
                    <%= link_to 'Following', unfollow_user_followings_path(following.author), remote: true, method: :delete, class: "btn btn-unfollow btn-block #{'hidden' unless current_user.follower_followings.find_by_follower_id(following.follower.id)}", data:{target: "#follow#{following.author.id}"}, id:"following#{following.author.id}" %>
                    <%= link_to 'Follow', user_followings_path(following.follower), remote: true, method: :post, class: "btn btn-follow btn-block #{'hidden' if current_user.follower_followings.find_by_follower_id(following.follower.id)}", id:"follow#{following.author.id}", data:{target: "#following#{following.author.id}"}%>
                  <% end %>
                </td>

              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>



<% content_for :after_js do %>

<script>$(document).ready(function(){
  $('[data-toggle="popover"]').popover({ trigger: "hover", html : true });
});</script>
<!-- JS script used on follow/like/recommended buttons to toggle without reloading the page -->
<script>
  $(document).ready(function() {
    // Toggle JS for follow/unfollow button
    $('.btn-unfollow').on('click', function() {
      var target = $(this).data("target");
      $(this).addClass('hidden');
      $(target).removeClass('hidden');
    });

    $('.btn-follow').on('click', function() {
      var target = $(this).data("target");
      $(this).addClass('hidden');
      $(target).removeClass('hidden');
    });

    // $("#followers .btn-follow").on('click', function() {
    //   var target = $(this).data("tablerow");
    //   $($(target)).clone().appendTo("#followings > tbody");
    // });


  });
</script>
<% end %>


